.signup-page{
    background-image: url('../images/background.png');
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-page h3{
    font-size: 1.2rem;
}

.signup-page p{
    color: #63687B;
}

.bio{
    display: none;
}

.username{
    display: none;
}


.specialisation{
    display: none;
}

.footer{
    position: absolute;
    bottom: 0;
}

._sd-btn{
    margin-top: 20px;
}

.signup-page h3, .signup-page p{
    text-align: left;
    margin-left: 10px;
    font-family: "Ubuntu";
}

.signup-page .sign-container .signup-text h3{
    
    font-size: 1.2rem;
}

.form{
    padding: 35px;
}
.form p{
    color: #63687B;
    text-align: center;
    margin: 10px
}


.signup-text{
    padding-top: 15px;
}

.mail{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .password{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .form-signup-container{
      margin: 0 auto;
  }



.btn .btn-outline-primary .sd-btn-outline {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  
    &:hover {
      box-shadow: none;
    }
}

.footer{
    position: relative;
}

@media screen and (max-width: 860px) {
    .sign-container img{
        display: none;
    }

    .signup-text p{
        color: #fff;
    }

    .footer{
        position: absolute;
    }
    .form-container img{
        transform: translateX(50%);
      }
}

@media screen and (min-width: 550px) {
    .signup-page{
        background-position: 20% 30%;
    }

    .signup-text p{
        color: #63687B;
    }

    .footer{
        position: absolute;
    }

    .buttons a{
        margin: 0 auto;
        width: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sign-container img{
        margin: 0 auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 850px) {
    .desktop{
        display: flex;
        flex-direction: row;
        background-image: none;
    }

    .signup-page{
        background-image: none;
    }

    .signup-page h3{
        font-size: 2rem;
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;
    }

    .signup-page p{
        font-size: 1.2rem;
        margin-left: 20px;
        text-align: center;
    }

    div form{
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .form{
        border-radius: 10px;       
    }

    .signup-large-screen{
        display: flex;
        flex-direction: row;
    }

    .signup-page img{
        height: 144px;
        width: 239px;
        margin-top: 30px;
        margin-bottom: 30px;  
    }

    .sign-container{
        border-radius: 10px;
        background-color: #fff;
        width: 60%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .signup-page{
        background-color: #1B89EE;
        height: 100vh;
        padding-top: 100px
    }
    
    .footer{
        position: relative;
    }

}

@media screen and (max-width: 850px) {
    .sign-container img{
        display: none;     
    }
}