.signup-page{
    position: relative;
    background-image: url('../images/background.png');
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-page h3{
    font-size: 1.2rem;
}

.signup-page p{
    color: #63687B;
}

.bio{
    display: none;
}

.specialisation{
    display: none;
}

.username{
    margin-left: -25px;
}

.signup-page h3, .signup-page p{
    text-align: left;
    margin-left: 10px;
    font-family: "Ubuntu";
}

.signup-page .signup-container .signup-text h3{
    
    font-size: 1.2rem;
}

.form p{
    color: #63687B;
    text-align: center;
    margin: 10px
}

.signup-text{
    padding-top: 15px;
}

.log{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin: 0 auto;
}

.log p{
    font-size: 14px;
    margin-right: 0;
}


@media screen and (min-width: 850px) {
    .desktop{
        display: flex;
        flex-direction: row;
        background-image: none;
    }

    .signup-page{
        background-image: none;
    }

    .signup-page h3{
        font-size: 2rem;
        padding-top: 40px;
        margin-left: 20px;
        text-align: center;
    }

    .signup-page p{
        font-size: 1.2rem;
        margin-left: 20px;
        text-align: center;
    }

    div form{
        width: 50%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .form{
        border-radius: 10px;
       
    }

    .large-screen{
        display: flex;
        flex-direction: row;
    }

    .signup-page img{
        height: 144px;
        margin-top: 100px;     
    }

    .form-container{
        border-radius: 10px;
        background-color: #fff;
        width: 60%;
        height: auto;
        margin: 0 auto;
        
    }

    .signup-page{
        background-color: #1B89EE;
        height: 100vh;
        padding-top: 100px
    }

}

@media screen and (max-width: 850px) {
    .form-container img{
        display: none;     
    }
}